.game-container {
  width: 100vw;
  height: 100vh;
  background-color: #856249;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.game-canvas {
  max-width: 100%;
  max-height: 100%;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.controls-widget {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: clamp(225px, 27vw, 420px);
  aspect-ratio: 110 / 78;
}

.controls-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.controls-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.minimize-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 18%;
  height: 22%;
  cursor: pointer;
  // background: rgba(255, 0, 0, 0.4);
}

.controls-minimized-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: clamp(45px, 6vw, 90px);
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.dialog-overlay {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: clamp(600px, 82.5vw, 1050px);
  cursor: pointer;
}

.dialog-box {
  position: relative;
  width: 100%;
  aspect-ratio: 137 / 39;
}

.dialog-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.dialog-text {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 60%;
  height: 60%;
  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-width: thin;
  scrollbar-color: #000 transparent;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #000;
  }

  font-family: 'Press Start 2P', monospace;
  font-size: clamp(7.5px, 1.5vw, 13.5px);
  line-height: 1.8;
  color: #000000;

  // overflow behaviour
  word-break: break-word;
  white-space: pre-wrap;
  // background: rgba(255, 0, 0, 0.4);
}

.dialog-close-btn {
  position: absolute;
  bottom:60%;
  right: 3%;
  width: 5%;
  height: 15%;
  cursor: pointer;
  // background: rgba(255, 0, 0, 0.4);
}
